/* heading */
#heading{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    margin-left: 5%;
    margin-right: 5%;
}
/* styling box */
#box{
    padding: 2% !important;
    margin-top: 0.5%;
}
/* styling week days container */
.week-days {
    display: flex !important;
    justify-content: space-evenly;
    padding: 1%;
    width: 100%;
    cursor: pointer;
    
}
/* hover week name */
#weekname :hover {
    background-color: rgb(233, 222, 222);
}
.week-days li{
    border: 1px solid lightgray !important;
}
/* box containing tasks */
#box #tasks{
    max-height: 55vh;
    overflow-y:auto;
}
/* list iems showing tasks */
#tasks li{
    display: flex;
    flex-direction: column;
    
}
/* the streak for a particular task in list */
.task-streak{
    display: flex;
    justify-content: space-evenly;
    margin-right:2% ;
    margin-left: 2%;
    border: solid 2px red;
    background-color: ivory;
    border-radius: 15px;
}
/* info for a particular task */
.task-streak h4{
    text-transform: capitalize;
    margin: 0;
}

.task-streak p{
    margin: 0;
}

